* { margin:0; padding:0; box-sizing:border-box; }
body { background:#0f0f0f; color:white; font-family:Roboto, Arial; }
::-webkit-scrollbar { width:8px; }
::-webkit-scrollbar-thumb { background:#555; border-radius:10px; }
